language = "nodejs"
run = "npm start"

[[ports]]
localPort = 8080
externalPort = 80
proxied = false

[packager]
language = "nodejs"

[nix]
channel = "stable"

[env]
NODE_ENV = "production"
PORT = "8080"
MONGO_URI = "mongodb+srv://hotel:hotelinaya@cluster0.hauipx7.mongodb.net/inaya_hotel?retryWrites=true&w=majority&appName=Cluster0"
DB_NAME = "inaya_hotel"
JWT_SECRET = "inaya_hotel_secret_key_2025"
