language = "nodejs"
run = "npm start"
modules = ["nodejs-20"]

[env]
NODE_ENV = "production"

[nix]
channel = "stable-23_11"
packages = ["lsof", "psmisc"]

[deployment]
run = ["npm", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[agent]
expertMode = true
